.Album{ 
    background-color: black;
    width: 100%;
    margin-top: 91px;
    height: calc(100vh - 91px);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* LEFT SIDE */

    .AlbumLeftDiv{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        max-width: 40%;
        gap: 10px;
        padding: 10px;

        border-radius: 15px;
        background-color: rgba(34, 34, 34, 1);

    }

    .AlbumAlbumCover{ 
        width: 100%;
        border-radius: 15px;
    }

    .TracklistButton{
        border: none;
        border-radius: 25px;
        padding: 10px;
        max-height: 50px;
        background: rgb(28, 209, 85);
        color: rgb(255, 255, 255);
        font: inherit;
        align-items: center;
        text-align: center;
        font-size: larger;
        cursor: pointer;
        text-decoration: none;

    }
        .TracklistButton:hover{ 
            background: rgb(28, 170, 85);
        }

/* RIGHT SIDE */

.AlbumRightDiv{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    max-width: 40%;
    gap: 10px;
    padding: 10px;

    border-radius: 15px;
    background-color: rgba(34, 34, 34, 1);
}
    .AlbumRightDivContent{ 

        width: 640px;
        aspect-ratio: 1/1;
        max-width: 100%;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        align-items: center;

        overflow: hidden;
    }
        .AlbumName{
            text-align: center;
            font-weight: bold;
            font-size: 2.3rem;
        }

        .ArtistName{
            font-size: 1.3rem;
            margin-bottom: 10px;

        }

        .TracklistDiv{ 

            display: flex;
            flex-direction: column;
            gap: 10px;

            width: calc(90% - 10px);
            border-radius: 15px;
            background-color: black;
            padding: 10px;
            margin-bottom: 10px;
            overflow: scroll;
        }

        .TrackDiv{ 

            border-radius: 15px;
            background-color: rgba(34, 34, 34, 1);
            padding: 10px;

            display: flex;
            justify-content: space-between;
            align-items: center;

        }

    .AddToCartButton{
        border: none;
        border-radius: 25px;
        padding: 10px;
        max-height: 50px;
        background: rgb(28, 209, 85);
        color: rgb(255, 255, 255);
        font: inherit;
        align-items: center;
        text-align: center;
        font-size: larger;
        cursor: pointer;

    }
        .AddToCartButton:hover{ 
            background: rgb(28, 170, 85);
        }

        .RemoveFromCartButton{
            border: none;
            border-radius: 25px;
            padding: 10px;
            max-height: 50px;
            background: rgb(209, 164, 28);
            color: rgb(255, 255, 255);
            font: inherit;
            align-items: center;
            text-align: center;
            font-size: larger;
            cursor: pointer;
    
        }
            .RemoveFromCartButton:hover{ 
                background: rgb(168, 132, 22);
            }

/* MEDIA QUERIES FOR RESPONSIVE DESIGN  */

@media screen and (orientation: portrait) and (max-width: 800px) {
    .Album {
        flex-direction: column;
        max-height: 100vh;
    }
    .AlbumRightDiv{ 
        max-height: 50%;
        width: 90%;
        max-width: 90%;
        padding: 5px;
    }
    .AlbumRightDivContent{ 
        width: 100%;
        aspect-ratio: 0;
    }
    .TracklistDiv{ 
        width: 95%;
        margin-bottom: 0px;
    }
    .AlbumName{
        font-size: 3vw;
    }

    .ArtistName{
        font-size: 3vw;
        margin-bottom: 3px;
    }
    .TrackDiv{ 
        font-size: 3vw;
        padding: 5px;
    }
    .TracklistButton{ 
        font-size: 3vw;
    }
    .AddToCartButton{ 
        font-size: 3vw;;
    }
    .RemoveFromCartButton{ 
        font-size: 3vw;;
    }

}