.Artists{ 
    outline: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 91px);
    overflow: scroll;
    width: 100%;
    background-color: white;

}

.ErrorIMG{ 
    width: 20%;
    padding-top: 10%;
}

h1{ 
    color: black;
}