.Browse{ 
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    max-width: 2000px;
    align-items: center;
    color: white;
    margin-top: 91px;
    min-height: calc(100vh - 91px);
    }

    .BrowseByContainer{ 
        margin:25px;
        border-radius: 15px;
        background-color: rgba(34, 34, 34, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-height: fit-content;
        width: calc(100% - 25px);
        padding: 15px;
    }

        .ShowMoreButtonContainer{ 
            width: 100%;
            display: flex; 
            justify-content: center;
            align-items: center;
        }
    .ShowMoreButton{ 
        border: none;
        border-radius: 25px;
        background: rgb(28, 209, 85);
        color: rgb(255, 255, 255);
        font: inherit;
        align-items: center;
        text-align: center;
        font-size: larger;
        cursor: pointer;
        padding: 10px;
        margin: 20px;
    }
        .ShowMoreButton:hover{ 
            background: rgb(28, 170, 85);
        }