.Home{
    background-color: black;
    width: 100%;
    margin-top: 91px;
    height: calc(100vh - 91px);
    display: flex;
    flex-direction: column;
}

    .HeroTextDiv{ 
        color: white;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

        .HeroText{
            color: white;
            font-size: 7rem;
            margin: 0px;
        }

    .NewReleaseSection{
        margin:25px;
        border-radius: 15px;
        background-color: rgba(34, 34, 34, 1);
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 15px;
        max-height: fit-content;

    }
        h3{ 
            margin-left: 4%;
            color: white;
        }

        .NewReleasePhotoDiv{ 
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            /* width: 100%; */
            gap: 20px;
            height: 100%;
        }

            .NewReleaseImageContainer{ 
                min-width: 200px;
                max-width: 20%;
                aspect-ratio: 1/1;
                border-radius: 15px;
                position: relative;
            }

            .CoverOverlayText {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: absolute;
                top: 50%; /* Adjust the vertical position as needed */
                left: 50%; /* Adjust the horizontal position as needed */
                transform: translate(-50%, -50%); /* Center the text both horizontally and vertically */
                color: white;
                background-color: rgba(0, 0, 0, 0.7); /* Background color for the text */
                padding: 10px;
                border-radius: 15px;
                text-align: center;
                opacity: 0; /* Initially hide the text */
                transition: opacity 0.3s ease; /* Add a transition effect for smooth appearance */
            }
            
            .NewReleaseImageContainer:hover .CoverOverlayText {
                opacity: 1; /* Show the text on hover */
            }
                .HomeCovers{
                    /* position: relative; */
                    width: 100%;
                    min-width: 200px;
                    aspect-ratio: 1/1;
                    border-radius: 15px;
                }
                    .HomeCovers:hover{
                        border-radius: 50%;
                        filter:blur(2px);
                        animation: rotate 700ms linear infinite;
                        transition: 400ms;
                    }

                    /* SPINNING DISK ANIMATION ANIMATIONS*/

                    @keyframes rotate {
                        0% {
                        transform: rotate(0deg);
                        }
                        100% {
                        transform: rotate(360deg);
                        }
                    }

/* API LOADING ANIMATIONS*/

.LoadingNewReleaseImageContainer{ 
    color: black;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 15px;
    animation: gradientAnimation 700ms linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes gradientAnimation {
    0% {
        background-color: rgba(34, 34, 34, 1);
    }
    50% {
        background-color: rgb(0, 34, 0);
    }
    1000% {
        background-color: rgba(34, 34, 34, 1);
    }
}