

.CountrySelector{ 
    width: 50px;
    outline: 1px solid pink;
    display: flex;
    flex-direction: column;
    max-height: 30px;
    overflow: hidden;
    

}
.CountrySelector:hover{
    outline: 1px solid blue;
    overflow: scroll;
    max-height: 90px;


}


.Flag { 
    background-color: gray;
    outline: 1px solid black;
    min-height: 30px;

}
    .Flag:hover{ 
        background-color: orange;

    }
