.NavBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 2000px;
    max-height: 91px;
    background-color: rgb(34, 34, 34); /* Adjust the color and opacity as needed */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the shadow properties as needed */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Adjust border properties as needed */
    box-sizing: border-box; /* Include padding and border in width calculation */
    color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1;
    top: 0px;
    gap: 10px;
}

    .NavBarLeft{
        /* width: 33%; */
        flex: 1;
        display: flex;
        align-items: center;
    }
        h1{ 
            margin: 0px;
        }
    
    .SiteLogo{ 
        display: flex;
        padding-left: 20px;
        justify-content: center;
        align-items: center;
        height: 60px
    }

    .NavBarMiddle{ 
        position: relative;
        /* outline: 1px solid blue;; */
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .SearchButton{
            position: absolute;
            width: 26px;
            height: 25px;
            border-radius: 25px;
            top: 6px;
            left: calc(100% - 31px);
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;

        }
            .SearchButton:hover{
                background: rgb(28, 170, 85);
            }
        
            .SearchIcon{ 
                /* outline: 1px solid pink; */
                width: 20px;
            }

        .SearchBar{ 
            width: 100%;
            min-width: 184px;
            font-size: large;
            padding: 5px 10px; /* You can adjust these values as needed */
            border-radius: 25px; /* Adjust the radius as needed */
            background-color: rgb(68, 68, 68); 
            border: 2px solid rgb(111, 111, 111);
            color: white;
        }
        .SearchBar:focus{
            border: 2px solid white; /* You can adjust the border style and width */
            outline: none;
        }

    .NavBarRight{
        /* width: 33%; */
        padding-left: 3px;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 4%;
    }
        ul{ 
            /* outline: 1px dashed pink; */
            padding: 0;
            display: flex;
            justify-content: center;
            gap: 20px;
        }
            .NavButton{ 
                border: none;
                padding: 0;
                background: none;
                color: rgb(255, 255, 255);
                font: inherit;
                cursor: pointer;
                text-decoration: none;
            }
            .NavButton:hover{ 
                color: rgb(154, 154, 154);
            }
            .NavButtonSelected{ 
                color: rgb(255, 255, 255);
            }

        .CartButton{
            border: none;
            border-radius: 25px;
            padding-left: 50px;
            max-height: 50px;
            padding-right: 50px;
            background: rgb(28, 209, 85);
            color: rgb(255, 255, 255);
            font: inherit;
            align-items: center;
            text-align: center;
            font-size: larger;
            cursor: pointer;
            position: relative;
        }
            .CartButton:hover{
                background: rgb(28, 170, 85);
            }

        .CartNotification{ 
            width: 25px;
            height: 25px;
            border-radius: 50%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(197, 32, 32);
            color: white;
            font-size: 15px;
            
            position: absolute;
            left: 120px;
            top: -5px;
        }
    
