.ErrorPage{ 
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(157, 157, 157);
}

.ErrorIMG{ 
    width: 300px;
    padding-top: 10%;
}